h1 {
	text-align: center;
}

h3 {
	text-align: center;
}

#bs-example-navbar-collapse-1 {
	background-color: #f6b319;
	position: relative;
	align-self: right;

}

#red {
	background-color: red;
	
}


#blue {
	background-color: blue;

}



#yellow {
	background-color: yellow;

}