body { 
	margin: 0;
	padding: 0;
	

 }

 header {

 	color: black;
 	font-size: 25px;
 	text-align: center;
 	padding-top: 10px;
 }

div { 
	
	display: inline-block;
	width: 300px;
	height: 295px;
	border:1px solid black;
	margin: 25px;
	background-color: yellow


 }



title { 
	font-size: 120px;
	font-family: Times;
	border: solid;

}

p {
	min-height: 1200px;
	width: 98%;
	height: 150px;
	margin-left: left;
	padding-top: 6px;
	padding-left: 3px;
	font-family: Helvetica;
	color: black;
	

}



#box {
	background-color: orange;
	box-sizing: border-box;
	margin: 40px;
	margin-top: 20px;
	padding:10px;
	width: 300px;

}


h1 { 
	background-color: pink;
	font-size:100%;
	margin-bottom: 10px;
	text-align: right;
	border: solid black;
	width: 30%;
	position: relative;
	top:-11px;
	bottom: 11px;
	left: 67.9%;
	

}

#Chicken h1 {
	background-color: pink;
}

#Beef h1 {
	background-color: green;
}

#Sushi h1 {
	background-color: orange;
}



/********** Large devices **********/
@media (min-width: 992px) {
	#Sushi { 
		width: 90%;
		height: 325px;
		top: 16px;
		padding-right: 50%;
		max-height: 299px;
        position: relative;
        background-color: pink;
		


	}
}

/********** Tablet view only **********/
@media (min-width: 768px) {
	#Sushi { 
		width: 280px;
		height: 325px;
		top: 16px;
		max-height: 299px;
		padding-right: 13px;
		padding-top: 5px;
        position: relative;
        background-color: yellow;

       

	}
}
    




